src/Mint-L/gtk-3.0/.sass-cache
src/Mint-L/cinnamon/sass-cache

# SASS cache files
*.scssc
debian/mint-l-theme
debian/.debhelper
debian/files
debian/mint-l-theme.debhelper.log
debian/mint-l-theme.substvars
__pycache__

usr

